<form [formGroup]="loginForm" (ngSubmit)="login()">

    <div class="container d-flex flex-column mt-5 justify-content-center">
        <img class="img-fluid mx-auto" src="https://www.pngmart.com/files/21/Admin-Profile-Vector-PNG-Clipart.png" alt="">
        <label class="font-weight-bold mt-2" for="email">Email</label>
        <input type="text" placeholder="Enter Email" name="email" formControlName="email">
        <label class="font-weight-bold mt-2" for="password">Password</label>
        <input type="password" name="password" placeholder="Enter Password" formControlName="password">
        <button class="mt-4 btn btn-success">Login</button>
    </div>

</form>