<footer class="text-center text-lg-start bg-dark">
    <!-- <div class="container d-flex justify-content-center py-5">
        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #4664A5;">
      <i class="fa fa-facebook-f"></i>
    </button>
        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #F70000;">
      <i class="fa fa-youtube"></i>
    </button>
        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #A4378D;">
      <i class="fa fa-instagram"></i>
    </button>
        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #1C96E8;">
      <i class="fa fa-twitter"></i>
    </button>
    </div> -->

    <!-- Copyright -->
    <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-white" href="#">unikedison</a>
    </div>
    <!-- Copyright -->
</footer>