<div class="container">
    <form [formGroup]="employeeForm" (ngSubmit)="createEmployee()">
        <div class="row">
            <div class="col-lg-6">
                <label for="name">Name</label>
                <input [ngClass]="{'is-invalid': submitted && employeeFormControl['name'].errors}" type="text" formControlName="name" class="form-control">
            </div>
            <div class="col-lg-6">
                <label for="email">E-Mail</label>
                <input [ngClass]="{'is-invalid': submitted && employeeFormControl['email'].errors}" type="text" formControlName="email" class="form-control">
            </div>
            <div class="col-lg-6">
                <label for="phone">Phone</label>
                <input [ngClass]="{'is-invalid': submitted && employeeFormControl['phone'].errors}" type="text" formControlName="phone" class="form-control">
            </div>
            <div class="col-lg-6">
                <label for="job">Job</label>
                <input [ngClass]="{'is-invalid': submitted && employeeFormControl['job'].errors}" type="text" formControlName="job" class="form-control">
            </div>
            <div class="col-lg-6">
                <label for="address">Address</label>
                <input [ngClass]="{'is-invalid': submitted && employeeFormControl['address'].errors}" type="text" formControlName="address" class="form-control">
            </div>
            <div class="col-lg-6 mt-3">
                <button type="submit" class="btn btn-sm btn-success mt-3">Create</button>
                <button type="button" class="btn btn-sm btn-warning mt-3 ml-3" routerLink="/admin">Cancel</button>
            </div>
        </div>
    </form>
</div>