/* You can add global styles to this file, and also import other style files */


/* 
body {
    /* /* background-image: linear-gradient(to left top, #29e8d6, #14cbc3, #05b0ae, #049498, #0b7a81, #13777e, #19747b, #1d7178, #278489, #329899, #3eaca9, #4cc0b9);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; 
}  */